:root {
  --color-text-primary: #2c2c2c;
  --color-text-secondary: #fff;
  --color-link: #0000af;
  --background-color: #fff;
  --color-bg-secondary: #242424;
  --color-bg-accent: #f9f366;
  --color-divider: rgba(64,64,64,.463);
  --color-blog-highlight: rgba(64,64,64,.137);
  --color-project-bg: #fff;
  --project-box-shadow: 0 0 26px 5px rgb(0 0 0 / 9%);
}

:root.dark {
  --background-color: #eeeae7;
  --color-text-primary: #3d405b;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Open Sans,sans-serif;
  font-size: clamp(1.1rem,1.2vw,1.2rem);
  color: var(--color-text-primary);
  min-height: 100vh;
  scroll-behavior: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App, .hero-container, .about_wrapper, .about_text, .projects_wrapper, .project, .contact_wrapper, .contact_links_wrapper, .contact_links  {
  display: flex;
  justify-content: center;
}

.App {
  flex-direction: column;
  background-color: #3d405b;
}

.home {
  background-color: var(--background-color);
  transition: background-color .5s ease;
}

section {
  height: 100%;
  width: 100%;
  will-change: transform;
}

h2 {
  margin: 0;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 6vw;
  padding-top: 7rem;
  padding-bottom: 5rem;
  box-sizing: border-box;
}

.hero-container {
  flex-direction: column;
  font-family: sora, sans-serif;
  font-size: 8vw;
  line-height: 8vw;
  text-align: left;
  vertical-align: baseline;
  width: 100%;
  height: fit-content;
  max-width: 70vw;
  padding-left: 1.5vw;
}

.title {
  width: fit-content;
  position: relative;
}

.title:first-child {
  align-self: flex-start;
  animation: 1.5s load forwards ease-in-out;
}

.title:nth-child(2) {
  padding-left: 10%;
  animation: 1.5s .5s load forwards ease-in-out;
}

.title:nth-child(3) {
  margin-left: 17%;
  animation: 1.5s 1s load forwards ease-in-out;
}

.title:nth-child(4) {
  margin-left: 25%;
  animation: 1.5s 1.5s load forwards ease-in-out;
}

.title {
  font-weight: 600;
  opacity: 0;
}

.title-color {
  color: #f2cc8f;
}

@keyframes load {
  from {
    transform: translateY(-10vh);
    opacity: 0;
  }

  25% {
    transform: translateY(-5vh);
    transform: translateX(-10vh);
    opacity: .5;
  }

  50% {
    transform: translate(-2vh);
    transform: translateX(10vh);
    opacity: .25;
  }

  to {
    transform: translateY(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.name {
  font-weight: 200;
}

.about {
  padding-bottom: 2rem;
  padding-inline: 6vw;
  max-width: 100%;
}

.about_wrapper {
  flex-direction: column;
  position: relative;
  gap: 3rem;
  align-items: flex-start;
  margin-inline: auto;
  width: 100%;
  max-width: 60rem;
  padding-top: 4rem;
}

.about_wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  width: 105%;
  left: -2.5%;
  height: 1px;
  background-color: var(--color-divider);
}

.about_title, .projects_title, .contact_title {
  width: 100%;
  max-width: 60rem;
  display: flex;
  align-items: flex-end;
}

.about_text {
  flex-direction: column;
  position: relative;
  align-items: center;
  max-width: 70vw;
}

.projects {
  padding-top: 4rem;
  width: 100%;
  padding-inline: 6vw;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.projects_wrapper {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.project {
  align-items: center;
  position: relative;
  padding-inline: 6vw;
  padding-top: 3rem;
  margin-bottom: 10rem;
  width: 100%;
  box-sizing: content-box;
}

.project_wrapper {
  max-width: 60rem;
  position: relative;
  display: grid;
  grid-template-columns: 600px 1fr;
}

.project_imgContainer {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--project-box-shadow);
  height: 447px;
}

.project_info {
  padding: 25px 50px;
}

.project p {
  padding: 20px;
  background-color: #dde5b6;
}

.project_img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.link_wrapper {
  display: block;
  width: max-content;
}

.darkTrigger {
  position: absolute;
  bottom: 0;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-inline: auto;
  margin-top: 1rem;
  margin-bottom: 10rem;
  padding: 4rem 6vw 8rem;
  height: 100%;
  color: #fff;
  transform-origin: top;
  z-index: 1;
}

.contact_wrapper {
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 60rem;
  gap: 0.5rem;
}

.contact_title {
  color: #fff;
  margin-bottom: 1.5rem;
}

.contact_p {
  align-self: flex-start;
  max-width: 40rem;
}

.form_wrapper {
  margin-top: 2rem;
  align-self: flex-end;
  width: 100%;
  max-width: 35rem;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  z-index: 1;
}

.contact_links_wrapper {
  flex-direction: column;
  align-items: center;
}

.contact_links {
  height: 100%;
  gap: 1rem;
  justify-content: flex-start;
  flex-direction: column;
}

.contact a {
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 1rem;
}

@media screen and (max-width: 1200px) {
  .project_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .project_imgContainer {
    width: 600px;
  }

  .project_info {
    width: 600px;
    padding: 0;
  }

  .about_text {
    align-self: center;
  }

  @media screen and (max-width: 650px) {
    .project_imgContainer {
      width: 90vw;
      height: min-content;
    }

    .project_img {
      margin-bottom: -5px;
    }

    .project_info {
      width: 90vw;
    }
  }
}
